/* components/BackgroundVideoSection.module.css */
.container {
    position: relative;
    width: 100%;
    height: 35rem; /* Full screen height */
    overflow: hidden;
  }
  
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: to make the text more readable */
  }
  
  .overlay h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
  }
  